{% extends 'home.html' %}

{% block content %}

{% load crispy_forms_tags %}
    <h1>Location "{{location.sName}}" Assign Type</h1>
    <a href="{% url 'defect:assignLocationParentView' location.nID %}"><button class="btn btn-outline-secondary my-2" type="button">Assign Parent</button></a>

    {% if 'assigned' in request.META.PATH_INFO %}
        <a style="float: right;" href="{% url 'defect:assignLocationTypeView' location.nID %}"><button class="btn btn-outline-secondary my-2" type="button">All Types</button></a>
        <form class="input-group" action="{% url 'defect:searchAllAssignLocationTypeView' lid %}" method="get">
            <input class="form-control m-1" name="q" type="text" placeholder="Search..." value="{{query}}">
        </form>
    {% else %}
        <a style="float: right;" href="{% url 'defect:allAssignLocationTypeView' location.nID %}"><button class="btn btn-outline-secondary my-2" type="button">All Assigned Types</button></a>
        <form class="input-group" action="{% url 'defect:searchAssignLocationTypeView' lid %}" method="get">
            <input class="form-control m-1" name="q" type="text" placeholder="Search..." value="{{query}}">
        </form>
    {% endif %}

    <table class="table table-hover">   
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th style="width: 80px;"></th>
        </tr >
        {% for x in page_obj %}
        <tr>
            <td>{{x.sName}}</td>
            <td>{{x.sDescription}}</td>

            {% if x.nID in assigned %}
                <td class="p-0 pl-1"> <a href="{% url 'defect:removeLocationTypeView' lid x.nID %}"><button class="btn btn-outline-secondary my-2" type="button">Remove</button></a> </td>
            {% else %}
                <td class="p-0 pl-1"> <a href="{% url 'defect:addLocationTypeView' lid x.nID %}"><button class="btn btn-outline-secondary my-2" type="button">Add</button></a> </td>
            {% endif %}

        </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1&q={{ query }}">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}&q={{ query }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&q={{ query }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&q={{ query }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock content %}