{% extends 'home.html' %}

{% block content %}

{% load crispy_forms_tags %}

    <h1>Location Create</h1>
    <form  action="" method="post">
        <div class="form-group m-2">
            {% csrf_token %}
            {{ form|crispy}}
            <a href="{% url 'defect:allLocationsView' %}"><button class="btn btn-outline-secondary my-2"type="button">Cancel</button></a>
            <button class="btn btn-outline-secondary m-2" type="submit">Create</button>
        </div>
    </form>

{% endblock content %}