
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div >
            <a class="navbar-brand" href="{% url 'defect:allLocationsView' %}">Locations</a>
            <a class="navbar-brand" href="{% url 'defect:allTypesView' %}">Type</a>
            <a class="navbar-brand" href="{% url 'defect:allPositionsView' %}">Position</a>
            <a class="navbar-brand" href="{% url 'defect:customView' %}">Custom</a>
            <a class="navbar-brand" href="{% url 'defect:hierarchicalView' %}">Custom</a>
        </div>
    </nav>
</div>